.hours-weather-block {
  position: absolute;
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.hour-weather-item {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.hour-weather-item .temp {
  font-size: 1.4em;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 10px;
}

.hour-weather-item img {
  text-align: center;
  width: 45px;
  height: 45px;
}
