.city {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 150px;
  font-size: 45px;
  width: 100vw;
  height: calc(100vh - 150px);
  margin: 0;
}

h2 {
  text-transform: uppercase;
  font-weight: lighter;
  margin: 10px;
  font-size: 56px;
}

p {
  margin: 0;
}

.weather-icon {
  padding-top: 20px;
  padding-bottom: 0;
}
