form {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

input {
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 0.8px;
  font-size: 17px;
  border: none;
  padding: 5px;
  padding-right: 40px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 8px;
  border: 2px solid #999;
  border-radius: 3px;
  width: 200px;
  color: rgb(196, 59, 59);
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(255, 255, 255, 0.7);
  position: relative;
}

input:focus {
  border: 2px solid #cdd5c1;
  outline: none;
}

input::placeholder {
  color: #999;
}

button {
  width: 200px;
  font-size: 18px;
  font-weight: 900;
  position: absolute;
  background: rgba(205, 213, 193, 0.502);
  border: 1px solid #999;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 0;
  padding-bottom: 2px;
}
button:active {
  opacity: 0.5;
  box-shadow: none;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1),
    1px 1px 5px rgba(0, 0, 0, 0.1);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="search"]::-webkit-calendar-picker-indicator {
  transform: translateX(35px) translateY(1px) scale(1.1);
}

input[type="search"]::-webkit-calendar-picker-indicator {
  transform: translateX(35px) translateY(-3px) scale(1.2);
  color: #c43b3b;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
  appearance: none;
}
